.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/stylesheets/compiled
config/database.yml
.sass-cache
rerun.txt
.generators
.rakeTasks
agilasverige_site.iml
agilasverige_site.ipr
agilasverige_site.iws
public/uploads
agilasverige_site.ids
*.sw*
/as.sublime-project
/as.sublime-workspace
/config/payson.yml
vendor/ruby
TAGS
.#*
/.idea
.rvmrc
*.iml
out
*.css.css
logfile

.DS_Store
