#bd
  .yui-g 
    %div{:class => "yui-u first"}
      #maintext
        %h2 Agila Sverige 2008 är över, vi syns nästa år!
        %p 
          %img{:src => "http://farm4.static.flickr.com/3185/2634605105_7eccf1b1ba.jpg"}
          Närmare 140 deltagare kom till Ingenjörshuset i Stockholm för att lyssna och diskutera agil systemutveckling. Konferensen var en stor succé med många mycket nöjda deltagare.
          %p
          Agila Sverige 2009 är redan i planeringsstadiet och kommer att vara i Stockholm vid ungefär samma tid nästa år
        %p
          Men under tiden vill vi gärna tipsa om 
          %a{:href => "http://www.smidig2008.no"} Smidig 2008 
          i Oslo. 
    .yui-g
      %div{:class => "yui-u first"}
        #info
      .yui-u
        #sponsors
          = partial 'shared/sponsors'
#ft
  = partial 'shared/footer'
