!red = #E83F2F
!green = #94A951
!yellow = #FBF796
!pink = #e20d81
!oddgrey = #f1f1f1
!evengrey = #c1c1c1
!grey = #a7a7a7
!darkgrey = #212121
!text = #454545
!background = #FFF

body, a
  :font-family Helvetica
body
  :color = !text
a
  :color = !pink
  :text-decoration none
  &:hover
    :text-decoration underline
p, table, tr, td, th, ul, blockquote
  :font-size 100%
  :margin-left 10px
  :margin-bottom 20px
  :margin-top 10px
  
blockquote
  :font-size 100%
  :margin-left 20px
  :margin-bottom 20px
  :margin-top 10px
  :font-style italic
li
  :margin-left 20px
  :list-style disc
tr
  :border-bottom-style dotted
  :border-bottom-width thin
  :border-bottom-color !green
td, th
  :padding 5px
th
  :background-color= !pink
  :color #FFF
  :font-weight bold
  :text-align center
h1
  :font-size 197%
  span
    :display none
h2, h3, h4
  :margin-top 20px
  :margin-left 10px
h2
  :font-size 182%
h3, h4
  :color = !pink
h3
  :font-size 153.9%
h4
  :font-size 108%
em
  :background-color = !yellow
  :padding 5px
  :font-weight bold

textarea
  :width 300px
  :height 120px

legend span
  :margin-left 10px
  :padding-top 10px
  :display block
  :width 500px
  :font-size 138.5%
  :color = !text
  :border-top-style solid
  :border-top-width thin
  :border-top-color !green

.part
  :border-bottom-color = !green
  :border-bottom-style solid
  :border-bottom-width thin
.hidden
  :display none

.text
  :width 300px
.speaker, .title
  :margin 0
  :padding 0
  :text-align center
.title
  :font-weight bold

table
  .paus, #registration
    :text-align center
fieldset
  legend 
    :display none
form
  .field
    :margin-top 5px
    label
      :float left
      :width 11em
    input, textarea
      :width 15em

#doc
  :background-color = !background
#hd
  :padding-top 10px
  :height 120px
  img
    :float left
    :margin-left 20px
    :margin-right 20px
  #date
    :float right
  h2
    :padding 0
    :margin 0
    span
      :display none
#menu
  :border-bottom-width thin 
  :border-bottom-style solid  
  :border-bottom-color = !pink
  ul
    :margin-bottom 5px
    li
      :padding 5px
      :display inline
      :margin-left 5px
      a
        :padding 6px
        :text-decoration none 
        &:link, &:visited
          :color #333
        &:hover
          :font-weight bold
          :background-image url("/images/triangle.png")
          :background-repeat no-repeat
          :background-position bottom center

#main #main_link, #attendant #attendant_link, #zeroeight #zeroeight_link
  :color #333
  :font-weight bold
  :background-image url("/images/triangle.png")
  :background-repeat no-repeat
  :background-position bottom center
  
#bd
  :padding 10px
#maintext, #info
  :padding-right 20px
.emphasized
  :color white
  :background-color = !pink
  :padding 3px
#info
  img
    :width 200px
  .oddrow
    :background-color = !oddgrey
  .evenrow
    :background-color = !evengrey
  .addressline
    :margin-top 0px
    :margin-bottom 0px
  .register
    :text-align center
    :margin-bottom 40px
    :padding 15px
    :background-color = !pink
    a
      :font-size 153.9%
      :text-align center
      :background = !pink
      :color white
      :text-decoration none
      :font-weight bold
      &:hover
        :text-decoration underline
    .reminder
      :margin-top 0
      :margin-bottom 0
      :color white
      :background-color = !pink
      :font-weight bold

.attention
  :padding 5px
  :border-width medium
  :border-style dotted
  :border-color= !pink
  :color = !pink

#sponsors
  :padding-left 20px
  :margin-left 1px
  :border-left-width thin
  :border-left-style solid
  :border-left-color = !darkgrey
  img 
    :max-width 200px
    :max-height 50px
#ft 
  :border-top-width thin 
  :border-top-style solid
  :border-top-color = !pink
  p
    :padding-top 10px
    :text-align= center
#presentations
  :list-style none
  li
    :list-style-type none
  p
    :display inline
