#container
  #header-container
    %img{ :src => "/images/merb.jpg" }/
    /
      <h1>Mongrel + Erb</h1>
    %h2
      pocket rocket web framework
    %hr/
  #left-container
    %h3
      Exception:
    %p
      <%= params[:exception] %>
  #main-container
    %h3
      Welcome to Merb!
    %p
      Merb is a light-weight MVC framework written in Ruby.  We hope you enjoy it.
    %h3
      Where can I find help?
    %p
      If you have any questions or if you can't figure something out, please take a
      look at our
      %a{ :href => "http://merb.devjavu.com/" }
        project development page
      or,
      feel free to come chat at irc.freenode.net, channel #merb.
    %h3
      How do I edit this page?
    %p
      You're seeing this page because you need to edit the following files:
      %ul
        %li
          config/merb.yml
          %strong
            %em
              (optional)
        %li
          config/router.rb
          %strong
            %em
              (recommended)
        %li
          app/views/exceptions/not_found.html.erb
          %strong
            %em
              (recommended)
        %li
          app/views/layout/application.html.erb
          %strong
            %em
              (change this layout)
  #footer-container
    %hr/
    .left/
    .right
      ? 2007 the merb dev team
    %p
      ?
