#bd
  .yui-gc 
    %div{:class => "yui-u first"} 
      %h2 Äntligen!
      %p 
        Var med på Sveriges första agila konferens om agila metoder! Agila    
        Sverige 2008 är unik i sitt fokus på 
        individer och interaktion dessa emellan. Den bestå av 
        förmiddagar med blixttal (Lightning talks) och eftermiddagar med 
        öppna ytor för diskussion (Open Space).
      %p.register
        %a{:href => "#{url(:attendants, 'new')}"} Jag vill anmäla mig till Agila Sverige!
      %h2 Tala på Agila Sverige 2008!
      %p
        Vi söker talare, både erfarna och mindre erfarna personer som vill 
        dela med sig av sina kunskaper, berätta om nya tekniker, förklara     
        gamla eller kanske bara testa nya idéer inför en engagerad och kunnig     
        publik. Nivån på föredragen kan spänna över hela spektrat från 
        nybörjare till experter. Du behöver alltså inte vara expert för att 
        tala. Eftersom det handlar om blixttal (max 10 minuter) så bör ämnet 
        vara väldefinierat och kondenserat.
      %p.register
        %a{:href => "#{url(:attendants)}"} Jag vill tala på Agila Sverige 2008!
      %p
        Vi vill att talen skall ha en tydlig koppling till 
        lättrörliga metoder och/eller utövandet kring dessa. Det kan 
        exempelvis vara fallstudier, handla om utmaningar kring införandet av 
        praxis eller erfarenheter av verktyg och metoder.
    #sponsors.yui-u
      %h2 
        Sponsorer
      %p
        %img{:src => '/images/tw_logo.png'}
#ft
  %p &copy; 2008 Nätverket Agile Sweden 
