#bd
  .yui-g 
    %h1 Måndag
    %table
      %tr
        %th Tid
        %th Polhemssalen
        %th Celsiussalen
      %tr
        %td 09:00 - 10:00
        %td Introduktion
        %td Introduktion
      %tr
        %td
        %td Bygg team på förtroende
        %td Teknisk skuld
      %tr
        %td
        %td Alla skall med
        %td KSSE-inspirerat task force team
      %tr
        %td
        %td Produktiva team
        %td Dokumentera = kul
      %tr
        %td
        %td Grupparbete eller teamwork
        %td Tester är inte poängen
      %tr
        %td 10:20 - 11:20
        %td Agile Game Development
        %td CI med Ivy och Team City
      %tr
        %td
        %td Poängen med poäng
        %td Nattliga tester med Linux och Perl
      %tr
        %td
        %td Agile Decision Awareness
        %td Agil dokumentation med Bumblebee
      %tr
        %td
        %td Don Quixote mot draken
        %td Agila metoder i inbyggda system
      %tr
        %td
        %td Snurra hjulet
        %td Verktyg för C++
      %tr
        %td 11:30 - 12:30
        %td Agile BI/DW
        %td Trafikstockning
      %tr
        %td
        %td Agil Biztalkutveckling
        %td Scrum på svenska
      %tr
        %td 
        %td Traditionella testfaser i agila projekt
        %td Agile Practices, Experiences and Adaptions
      %tr
        %td
        %td Agil systemförvaltning - nyutveckling är bara början
        %td Agila som fiskar
      %tr
        %td
        %td Aktiv systemförvaltning - agil systemutvecklings okände bror
        %td Erfarenheter från lean implementationer

    %h1 Tisdag
    %table
      %tr
        %th Tid
        %th Polhemssalen
        %th Celsiussalen
      %tr
        %td
        %td Bygg bättre system
        %td Assert first, Backwards directed, Completion assisted
      %tr
        %td
        %td Myter om kvalitet
        %td När jag till slut förstod Behaviour Driven Development
      %tr
        %td
        %td Att skapa en product backlog
        %td Using TDD with legacy code
      %tr
        %td
        %td Scrumteamet som produktägare
        %td Att testdriva feta klienter
      %tr
        %td
        %td En dag i en agil analytikers liv
        %td
      %tr
        %td 10:20 - 11:20
        %td Du kodar väl på svenska?
        %td Ping-Pong-Kingen
      %tr
        %td
        %td Sjukvården har anammat kundmetaforen, är det dags för oss att anamma patientmetaforen?
        %td Programmeringsspråket, ditt viktigaste verktyg
      %tr
        %td
        %td Agil data
        %td Funktionstester med Fitnesse
      %tr
        %td
        %td NLP som kommunikationsstrategi
        %td Agila tester av inköpta system
      %tr
        %td
        %td The Pomodoro Technique
        %td Det vi inte testdriver
      %tr
        %td 11:30 - 12:30
        %td Hur har vi fått Scrum att funka
        %td Tvärfunktionella team, släpp in oss i sprinten
      %tr
        %td
        %td Retrospektiv på riktigt
        %td Medvetet systemtänkande och tillämpning på lagarbete
      %tr
        %td
        %td Sofistikerade verktyg, hjälpa eller stjälpa?
        %td SOA och agility
      %tr
        %td
        %td I vattenfallets land
        %td Overcoming Meeting Scepticism
      %tr
        %td
        %td Kan man undvika den tekniska skuldfällan?
        %td Using agile practices in a crisis
