// TODO Lägg till data från användaren
// TODO Lägg till kontakt email
#bd
  .yui-gc 
    %div{:class => "yui-u first"} 
      %h2 Tack!
      %p 
        Du är nu anmäld till Agila Sverige 2008. Vi kommer att skicka en faktura till adressen du angivit inom ett antal dagar.
      %p 
        Vi ser fram emot att möta dig den 2-3 juni!
    #sponsors.yui-u
      = partial 'shared/sponsors'
#ft
  %p &copy; 2008 Nätverket Agile Sweden 
