#bd
  .yui-gc
    .yui-u.first
      %p.attention
        I vår strävan att få ut programmet så fort som möjligt är här en översikt. Vi kommer att publicera mer detaljerad info inom kort.
      %h1 Måndag
      %table
        %tr
          %th Tid
          %th Polhemssalen
          %th Celsiussalen
        %tr
          %td 08:00 - 09:00
          %td{:id => "registration", :colspan => "2"} Registrering
        %tr
          %td 09:00 - 10:00
          %td Introduktion
          %td Introduktion
        %tr
          %td
          %td Bygg team på förtroende - Joakim Ohlrogge
          %td Teknisk skuld - Andreas Larsson
        %tr
          %td
          %td Alla skall med - Andreas Ekström
          %td KSSE-inspirerat task force team - Peter Antman
        %tr
          %td
          %td Produktiva team - David Barnholdt
          %td Dokumentera = kul - Daniel Brolund
        %tr
          %td
          %td Grupparbete eller teamwork - Tobias Anderberg
          %td Tester är inte poängen - Joakim Ohlrogge
        %tr
          %td 10:00 - 10:20
          %td{:class => "paus", :colspan => "2"} Kaffepaus
        %tr
          %td 10:20 - 11:20
          %td Agile Game Development - Fredrik Sjöö
          %td Kontinuerlig integration med Ivy och Team City - Niklas Lindholm
        %tr
          %td
          %td Poängen med poäng - Ola Ellnestam
          %td Nattliga tester med Linux och Perl - Erwan Lemmonier
        %tr
          %td
          %td Agile Decision Awareness - Staffan Nöteberg
          %td Agil dokumentation med Bumblebee - Daniel Brolund
        %tr
          %td
          %td Don Quixote mot draken - Michael Albrecht
          %td Agila metoder i inbyggda system - Emil Nordling och Johan Hernefeldt
        %tr
          %td
          %td Snurra hjulet - Joakim Holm
          %td Verktyg för C++ - Andreas Larsson
        %tr
          %td 11:20 - 11:30
          %td{:class => "paus", :colspan => "2"} Paus
        %tr
          %td 11:30 - 12:30
          %td Agile BI/DW - Daniel Fagerström
          %td Trafikstockning - Måns Sandström
        %tr
          %td
          %td Agil Biztalkutveckling - Joshua Anthony
          %td Scrum på svenska - Gabriel Falkenberg och Mattias Köhlmark
        %tr
          %td 
          %td Aktiv systemförvaltning - agil systemutvecklings okände bror - Peter Tallungs
          %td Agile Practices, Experiences and Adaptions - Mats Wahlberg
        %tr
          %td
          %td Agil systemförvaltning - nyutveckling är bara början - Henrik Lilienberg
          %td 5x snabbare utveckling mha Value Stream Mapping och Scrum - ett konkret exempel - Henrik Kniberg
        %tr
          %td
          %td Traditionella testfaser i agila projekt - Jonas Hermansson
          %td Erfarenheter från lean implementationer - Marcus Ahnve

      %h1 Tisdag
      %table
        %tr
          %th Tid
          %th Polhemssalen
          %th Celsiussalen
        %tr
          %td 09:00 - 10:00
          %td Bygg bättre system - ett effektivt möte med användare - Johanna Särnå
          %td Assert first, Backwards directed, Completion assisted - Thomas Nilsson
        %tr
          %td
          %td Myter om kvalitet - Matti Hjelm
          %td När jag till slut förstod Behaviour Driven Development - Niclas Nilsson
        %tr
          %td
          %td Att skapa en product backlog - Arne Åhlander
          %td Using TDD with legacy code - Axel Andersson
        %tr
          %td
          %td Scrumteamet som produktägare - Torbjörn Kalin
          %td Att testdriva feta klienter - Ola Ellnestam
        %tr
          %td
          %td En dag i en agil analytikers liv - Thomas Nilsson
          %td Agila som fiskar - Johan Lind
        %tr
          %td 10:00 - 10:20
          %td{:class => "paus", :colspan => "2"} Kaffepaus
        %tr
          %td 10:20 - 11:20
          %td Du kodar väl på svenska? - Joakim Sundén
          %td Ping-Pong-Kingen - Joakim Holm
        %tr
          %td
          %td Sjukvården har anammat kundmetaforen, är det dags för oss att anamma patientmetaforen? - Gabriel Falkenberg
          %td Programmeringsspråket, ditt viktigaste verktyg - Marcus Ahnve
        %tr
          %td
          %td Agil data - Niklas Lindström
          %td Funktionstester med Fitnesse - Joakim Karlsson
        %tr
          %td
          %td NLP som kommunikationsstrategi - Mats Oldin
          %td Agila tester av inköpta system - Jonas Hermansson
        %tr
          %td
          %td The Pomodoro Technique - Staffan Nöteberg
          %td Det vi inte testdriver - Måns Sandström
        %tr
          %td 11:20 - 11:30
          %td{:class => "paus", :colspan => "2"} Paus
        %tr
          %td 11:30 - 12:30
          %td Hur har vi fått Scrum att funka - Peter Antman
          %td Tvärfunktionella team, släpp in oss i sprinten - Sara Manding
        %tr
          %td
          %td Retrospektiv på riktigt - Chris Hedgate
          %td Medvetet systemtänkande och tillämpning på lagarbete - Lennart Floreby
        %tr
          %td
          %td Sofistikerade verktyg, hjälpa eller stjälpa? - Andreas Ekström
          %td SOA och agility - Peter Tallungs
        %tr
          %td
          %td I vattenfallets land - Jimmy Larsson
          %td Overcoming Meeting Scepticism - Marcus Widerberg
        %tr
          %td
          %td Kan man undvika den tekniska skuldfällan? - Petter Wigle
          %td Using agile practices in a crisis - Mats Wahlberg
    .yui-u
      #sponsors
        = partial 'shared/sponsors'
#ft
  = partial 'shared/footer'
