/*
Syntax error: File to import not found or unreadable: bourbon.
              Load paths:
                
                /home/ulrika/Personal/AS/agilasverige_site/public/stylesheets/sass
                /home/ulrika/Personal/AS/agilasverige_site/app/stylesheets
                /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets
                /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.1/frameworks/compass/stylesheets
                /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/app/assets/stylesheets
                /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/lib/active_admin/sass
        on line 11 of /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/app/assets/stylesheets/active_admin/mixins/_all.css.scss
        from line 1 of /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/app/assets/stylesheets/active_admin/_mixins.css.scss
        from line 2 of /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/lib/active_admin/sass/active_admin.scss

Backtrace:
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/app/assets/stylesheets/active_admin/mixins/_all.css.scss:11
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/app/assets/stylesheets/active_admin/_mixins.css.scss:1
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/lib/active_admin/sass/active_admin.scss:2
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/import_node.rb:45:in `import'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:227:in `map'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:227:in `map'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/engine.rb:263:in `block in render'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/util.rb:401:in `silence_sass_warnings'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.12/lib/sass/engine.rb:263:in `render'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/haml-3.1.1/vendor/sass/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/haml-3.1.1/vendor/sass/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/haml-3.1.1/vendor/sass/lib/sass/plugin/compiler.rb:175:in `each'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/haml-3.1.1/vendor/sass/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/haml-3.1.1/vendor/sass/lib/sass/plugin/compiler.rb:173:in `each'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/haml-3.1.1/vendor/sass/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/haml-3.1.1/vendor/sass/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/haml-3.1.1/vendor/sass/lib/sass/plugin.rb:54:in `check_for_updates'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/haml-3.1.1/vendor/sass/lib/sass/plugin/rack.rb:51:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/warden-1.2.3/lib/warden/manager.rb:35:in `block in call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/warden-1.2.3/lib/warden/manager.rb:34:in `catch'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/warden-1.2.3/lib/warden/manager.rb:34:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.0.20/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.0.20/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.2.8/lib/rack/methodoverride.rb:24:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.0.20/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.0.20/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.0.20/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.0.20/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activerecord-3.0.20/lib/active_record/query_cache.rb:32:in `block in call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activerecord-3.0.20/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activerecord-3.0.20/lib/active_record/query_cache.rb:12:in `cache'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activerecord-3.0.20/lib/active_record/query_cache.rb:31:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/rollbar-0.12.16/lib/rollbar/middleware/rails/rollbar_request_store.rb:13:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activerecord-3.0.20/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.0.20/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activesupport-3.0.20/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.0.20/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.2.8/lib/rack/sendfile.rb:106:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.0.20/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.0.20/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/rollbar-0.12.16/lib/rollbar/middleware/rails/show_exceptions.rb:19:in `call_with_rollbar'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/railties-3.0.20/lib/rails/rack/logger.rb:13:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.2.8/lib/rack/runtime.rb:17:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activesupport-3.0.20/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.2.8/lib/rack/lock.rb:13:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.2.8/lib/rack/lock.rb:13:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.0.20/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/railties-3.0.20/lib/rails/application.rb:168:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/railties-3.0.20/lib/rails/application.rb:77:in `method_missing'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/railties-3.0.20/lib/rails/rack/log_tailer.rb:14:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.2.8/lib/rack/content_length.rb:13:in `call'
/home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.2.8/lib/rack/handler/webrick.rb:52:in `service'
/home/ulrika/.rvm/rubies/ruby-1.9.3-p0/lib/ruby/1.9.1/webrick/httpserver.rb:138:in `service'
/home/ulrika/.rvm/rubies/ruby-1.9.3-p0/lib/ruby/1.9.1/webrick/httpserver.rb:94:in `run'
/home/ulrika/.rvm/rubies/ruby-1.9.3-p0/lib/ruby/1.9.1/webrick/server.rb:191:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bourbon.\A               Load paths:\A                 \A                 /home/ulrika/Personal/AS/agilasverige_site/public/stylesheets/sass\A                 /home/ulrika/Personal/AS/agilasverige_site/app/stylesheets\A                 /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets\A                 /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.1/frameworks/compass/stylesheets\A                 /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/app/assets/stylesheets\A                 /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/lib/active_admin/sass\A         on line 11 of /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/app/assets/stylesheets/active_admin/mixins/_all.css.scss\A         from line 1 of /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/app/assets/stylesheets/active_admin/_mixins.css.scss\A         from line 2 of /home/ulrika/.rvm/gems/ruby-1.9.3-p0/gems/activeadmin-0.6.2/lib/active_admin/sass/active_admin.scss"; }
