.row-fluid
  %ul.nav.nav-pills
    - Conference.order("year desc").all.each do |c|
      %li{class: c == @conference ? "active" : ""}
        %a{href: "?conference_id=#{c.id}"}= c.year
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Namn
        %th Intern kommentar
    %tbody
      - @registrations.list.each do |registration|
        %tr
          %td= link_to registration.user.full_name, registration_path(registration.id)
          %td= registration.comment
