:markdown
  För bli registrerad på konferensen:

  1. Skapa ett konto på sajten.
  2. Registrera dig genom att betala eller anmäla ett tal.

  Sista dag att registrera ett tal: 18 april.
  Sista dag anmälnings- och betalningsdag: 10 maj.

  Deltagaravgiften är SEK 2000 exklusive moms, blixttalare går gratis.

  Betalning sker med kort via vår betalningspartner Payzone.

  Betald plats kan överlåtas på annan, meddela info@agilasverige.se
  i sådana fall.

  Middagen ingår i konferensavgiften. Den utgör dock en stor del av
  våra kostnader. Därför debiterar vi SEK 400 för anmälda
  middagsgäster som uteblir. Var noga med att uppdatera ditt
  middagsdeltagande på hemsidan senast en vecka innan konferensen.
