:markdown
  Deltagaravgiften är SEK 2000, blixttalare går gratis.

  Betald plats kan överlåtas på annan, meddela info@agilasverige.se
  i sådana fall.

  Middagen den 23 maj är gratis för konferensens deltagare. Anmälda 
  middagsgäster som ej kommer debiteras dock SEK 400.

  Fakturera skickas som PDF via e-post.
