%h2 Praktisk info om konferensen

%h3 Tider
%p Vi börjar morgonen med frukost kl 8.00 och konferensen drar igång kl 9.00.
%p Redan efter introduktionen börjar vi med två olika spår.

%p Programmet för konferensen hittar du <a href='pdf/Agila_Sverige_program_2013.pdf'>här [PDF]</a>

%h3 Middagen
%p För de som har anmält sig till middagen, så äter vi den på måndagen i samma lokal som konferensen.

%p Vi börjar i loungen med fördrink, musik och mingel och vi fortsätter sedan med sittande middag. 

%p Efter middagen släpper vi fram Michael Ringblom, från Tjänsterummet på Amaranten, som är vår DJ och festar loss!


%h3 Labbet

%p Har du hört talas om Continuous Delivery och DevOps? Inte, kom till oss i labbet och se vad vi gör!
%p I labbet på Agila Sverige kommer vi att bygga en Deployment Pipeline som tar ett demoprojekt från första commit till release i produktionsmiljö i en automatiserad pipeline.

%p Vi bygger pipelinen inkrementellt och iterativt och fördjupar oss gradvis i de olika delarna av pipelinen. Det slutgiltiga målet är att bygga en komplett pipeline som kan användas i ett verkligt projekt. Vi kommer att bygga på open source och en publik plattform, men principerna går att använda även för andra typer av projekt

%p Under dagarna kommer det att dyka upp frågeställningar, som vi kommer att diskutera och försöka lösa tillsammans.

%p Ta med dig en laptop och kom förbi!
