%table#prices
  %tr
    %th
    %th
      Pris
  %tr
    %td
      Till och med 1 maj:
    %td
      500 kronor
  %tr
    %td
      Efter 1 maj:
    %td
      1000 kronor
  %tr
    %td
      Talare:
    %td
      0 kronor
