%table#prices
  %tr.oddrow
    %td
      Till och med 1 maj:
    %td
      500 kronor
  %tr.evenrow
    %td
      Efter 1 maj:
    %td
      1000 kronor
  %tr.oddrow
    %td
      Talare:
    %td
      0 kronor
