#register-box.hidden
  - if @registration_status == :not_logged_in
    .row
      .span6.well
        %h3 Om ...
        %p du redan har ett konto här
        = link_to "Logga in", new_user_session_path, class: 'btn btn-primary'
      .span6.well
        %h3 Om ...
        %p du inte har ett konto sedan tidigare:
        = link_to "Skapa konto", new_user_registration_path, class: 'btn btn-primary'
