#register-box.hidden
  - if @registration_status == :not_logged_in
    .row-fluid
      .span6.well
        %p Har du gått på Agila Sverige tidigare år?
        = link_to "Logga in", new_user_session_path, class: 'btn btn-primary'
      .span6.well
        %h3 Blir det här första gången?
        = link_to "Registrera mig", new_user_registration_path, class: 'btn btn-primary'
