%p
  Anmält och godkänt förslag kan inte överlåtas på annan. Talare som inte kommer på konferensen debiteras full konferensavgift. Det går bra att vara flera talare på scen (ange detta i beskrivningen) men endast en talare går gratis. 
%p 
  = 'Allt presentationsmaterial som används måste licensieras under'
  = link_to 'Creative Commons Attribution Share Alike licens', 'http://creativecommons.org/licenses/by-sa/2.5/se/'
  = '. Alla talare kommer att filmas för distribution på nätet.'
