.span4
  %h2 Funderar du på att tala?
  %p 
  Vår filosofi är att när det kommer till mjukvaruutveckling så finns det många komponenter som behöver finnas med för att det ska bli lyckat. 

  %p
  Några av dessa är tekniken, människorna och metoderna. Därför vill vi skapa ett program som reflekterar många olika perspektiv.
  %p 
  Skicka in tal till Agila Sverige om du älskar:  devops, coachning, testning, ux, team, förändringsarbete, arkitektur, tekniskt ledarskap, visualisering, återblickar,  automatisering, osv.

  %h2 Workshop
  %p
  Vi välkomnar extra mycket förslag på workshops, alltså interaktiva pass med en mindre mängd deltagare. Dessa kommer att köra parallellt med open space. 
  %p  
  Eftersom att vi inte har ingen plan för hur stort eller hur långt, skriv ett förslag med hur lång tid du önskar och hur många deltagare du tror att det passar till. Är ämnet intressant så pusslar vi ihop något som passar tillsammans. 

.span4

  %h2 Nytt och fräscht
  %p
  Värt att veta är att vi har en tradition av att välja nykläckta talare över gamla rävar och vissa har hållit sitt första tal hos oss. 

  %p
  Anledningen är att vi tror starkt på att låta nya röster göra sina idéer hörda medan välkända talare har möjlighet att framför sitt budskap iaf. 

  %p
  Ett blixttal är också utmärkt som första tal eftersom att det går att öva in det många gånger. 

.span4  
  %h2 Talförslag
  %p
  Över är åren då Agila Sverige fick in exakt så många talförslag som det fanns slots och alla var glada. Förra året fick vi in dubbelt så många förslag som slots.
  
  %p 
  Därför tipsar vi om att lägga lite omtanke på ditt talförslag. Prata om ditt ämne med kollegor och undersök om det låter intressant för någon annan. 
  
  %p
  Använd också deras hjälp att fila på texten till talförslaget. Förklara för oss varför och för vem det här är intressant.

  %p
  =link_to 'Bra tips för att skriva ett inspirerande talförslag', 'http://weareallaweso.me/for_speakers/how-to-write-a-compelling-proposal.html'
