%h2 
  Sponsorer
%p
  %a{:href => 'http://www.thoughtworks.com'}
    %img{:src => '/images/tw_logo.png'}
%p
  %a{:href => 'http://www.valtech.se'}
    %img{:src => '/images/valtech_logo.png'}
%p
  %a{:href => 'http://www.agical.se'}
    %img{:src => '/images/agical_logo.png'}
%p
  %a{:href => 'http://www.dynabyte.se'}
    %img{:src => '/images/dynabyte_logo.png'}
