// Combine the partials into a single screen stylesheet.
@import "compass/utilities/text/replacement";
@import "compass/css3/inline-block";
@import "compass/utilities/lists/horizontal-list";

$pink: #ff1eff;
$border: 1px solid $pink;


body {
  padding-top: 60px;
}

.brand {
  @include replace-text-with-dimensions('as_logo.png');
}
.hero-unit {
  h2 {
    @include replace-text-with-dimensions('indexcard.png');
    float: right;
  }
}

.sponsor_list {

  list-style: none;
  padding-left: 0px;

  img {
    max-height: 50px;
    max-width: 150px; 
  }

  li {
    margin-top: 10px;
  }
}

#speaking_proposals {
  .speaker_info {
    float: right;
  }
}

