// Combine the partials into a single screen stylesheet.
@import "compass/utilities/text/replacement";
@import "compass/css3/inline-block";
@import "compass/utilities/lists/horizontal-list";

$pink: #ff1eff;
$border: 1px solid $pink;

@font-face { font-family: inkburrow; src:'/fonts/inkburrow.ttf' }

body {
  padding-top: 60px;
}

.navbar-inverse .brand {
  font-family: inkburrow;
  color: $pink;
}

.hero-unit {
  .date {
    position: relative;
    background-image: url('/images/whiteboard.png');
    width: 194px;
    height: 150px;
    float: right;
    h2 {
      font-family: 'Rock Salt', cursive;
      font-size: 20px;
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 5px;
      line-height: 1.6;
      text-align: center;
    }
  }
}

.row-fluid {
  h2 {
    text-align: center;
  }
}

.sponsors {
  margin-bottom: 40px;
}
.sponsor_list {

  list-style: none;
  padding-left: 0px;

  img {
    max-height: 50px;
    max-width: 150px; 
  }

  li {
    margin-top: 10px;
  }
}

#speaking_proposals {
  .speaker_info {
    float: right;
  }
}

