// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "compass/utilities/text/replacement";
@import "compass/css3/inline-block";
@import "compass/utilities/lists/horizontal-list";

body {
    @include container;
}

header {
  .logo {
    h1, h2 {
      @include inline-block;
    }
    h1 {
      @include replace-text-with-dimensions('as_logo.png');
    }
    h2 {
      @include replace-text-with-dimensions('postit_note.jpg');
    }
  }
}

nav {

  ul {
    @include horizontal-list;
  }

  a {
    text-decoration: none;
  }

  a:link, a:visited {
    color: #333;
  }


}

.subnavigation {

  ul {
    list-style: none;
  }
}

.section-wrapper {
  padding: 20px;
}

form {

  textarea {
    width: 300px;
  }
}

.main {

  padding-top: 20px;

  @include column(24);

  .sidebar {
    @include column(6);
  }

  section {
    @include column(12);
  }

  .sponsors {
    @include column(6, true);
  }
}

footer {
  @include column(24, true);
}

.sponsor_list {

  list-style: none;
  padding-left: 0px;

  img {
    max-height: 50px;
    max-width: 150px; 
  }


  li {
    margin-top: 10px;
  }
}

