.hero-unit
  .row-fluid
    .span12
      .latest
      %p
      %h1     Sajten har flyttat!
      %br
      %p
      Vill du anmäla dig till Agila Sverige 2017? Eller veta mer om konferensen?
      = link_to 'Gör det på vår nya konferenssajt!', 'https://agila-sverige.confetti.events'
      %p
      Vill du anmäla ett tal eller en workshop till Agila Sverige 2017?
      = link_to 'Gå till talanmälan!', 'https://docs.google.com/forms/d/e/1FAIpQLSdyswsnDscoRfND94WltsUCh9ZZ6cVfIbimZaudM2tvKAKZ6Q/viewform'
      %p
      Filmer och program från tidigare konferenser hittar du
      = link_to 'här!', '/old'
      %p
