%h2 'Skicka in förslag på blixttal'
%p 'Anmälan av blixttal är personlig, man kan med andra ord inte byta ut talaren efter att ett blixttal blivit antaget.'
%p 
  = 'Allt presentationsmaterial som används måste licensieras under'
  a 'Creative Commons Attribution Share Alike licens', :href => 'http://creativecommons.org/licenses/by-sa/2.5/se/'
  = '. Alla talare kommer att filmas för distribution på nätet.'
%fieldset 
  %legend Registrera blixttal
  %form{:action => '/speaking_proposal/new', :method => 'post'}
    #speaking_proposal_fields
      %input{:id => 'submit', :value => 'Anmäl',:type => 'submit'}
