!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "sv", :lang => "sv"}
  %head
    %title
      Agila Sverige 2008
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %script{:type => 'text/javascript', :src => '/scripts/jquery-1.2.5.min.js'}
    %link{ :href => "/stylesheets/facebox.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8"}/
    %script{:type => 'text/javascript', :src => '/scripts/facebox.js'}
    %link{ :rel => "stylesheet", :href => "http://yui.yahooapis.com/2.4.1/build/reset-fonts-grids/reset-fonts-grids.css", :type => "text/css"}/
    %link{ :href => "/stylesheets/master.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8"}/
    :plain
      <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('a[rel*=facebox]').facebox({
              loading_image : '/images/facebox/loading.gif',
              close_image   : '/images/facebox/closelabel.gif'
            })
        })
      </script>

  %body{:id => "#{@controller_name}"}
    #doc4.yui-t7 
      #hd
        %a{:href => url(:home)}
          %img{:src => '/images/as_logo.png'}
        %h1
          %span Agila Sverige 2008
        %h2
          %span Stockholm 2-3 juni 2008
        %img#date{:src => '/images/postit_dates.png'}
      .yui-g
        #menu
          %ul
            %li 
              %a{:id => "homelink", :href => url(:home)} Hem
            %li
              %a{:id => "programlink", :href => url(:program)} Program
      = catch_content :for_layout
    
