<p>Hej <%= @user.first_name%></p>

<p>Tack för din blixttalsanmälan <%= @speaking_proposal.title %>. 
När talarschemat är klart återkommer vi och meddelar om ditt förslag blivit
accepterat.</p>

<p>Om du vill ändra något i ditt förslag, lägga till en talare eller
ta bort det kan du göra det från dina inställningar: 
<%= current_user_url %></p>

<p><%= render :partial => 'shared/speaking_proposal_info' %></p>

<p>Med vänliga hälsningar</p>

<p>Arrangörskommittén Agila Sverige 2011</p>
