<p>Hej <%= @user.first_name%></p>

<p>Tack för din blixttalsanmälan <%= @speaking_proposal.title %>.
När talarschemat är klart återkommer vi och meddelar om ditt förslag blivit
accepterat.</p>

<p><%= render :partial => 'shared/speaking_proposal_info' %></p>

<p>Med vänliga hälsningar</p>

<p>Arrangörskommittén Agila Sverige 2012</p>
