%h2 Tidigare års konferenser
%p Här kan du ladda ner tidigare års program 
%ul
  %li= link_to "Agila Sverige 2012 [PDF]", "/static_files/affisch_2012.pdf"
  %li= link_to "Agila Sverige 2011 [PDF]", "/static_files/agila_affisch_2011.pdf"
  %li= link_to "Agila Sverige 2010 [PDF]", "/static_files/agila_affisch_2010_3.pdf"


