%p
  Välkommen #{@resource.email}!
%p Bekräfta din anmälan genom att klicka på länken nedan:
%p= link_to 'Bekräfta min anmälan', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
