%p
  Hej #{@resource.email}!
%p Någon har önskat ändra ditt lösenord, och du kan göra det genom att klicka på länken nedan:
%p= link_to 'Ändra mitt lösenord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Om du inte önskar ändra ditt lösenord behöver du inte göra något
%p Ditt lösenord kommer inte att ändras om du inte klickar på länken ovan och anger ett nytt lösenord.
