%p
  Hej #{@resource.email}!
%p Ditt konto har låsts efter ett antal misslyckade inloggningsförsök.
%p Klicka på länken nedan för att låsa upp ditt konto:
%p= link_to 'Lås upp mitt konto', unlock_url(@resource, :unlock_token => @resource.unlock_token)
